@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
  flex-direction: column;
}

.main-header {
  font-family: 'Montserrat', sans-serif;
}

.create-form label{
  color: black !important;
  font-family: 'Monteserrat', sans-serif;
  font-size: 12px !important;

}